# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @Azure-Samples/acs-ui-android-reviewer-1 @Azure-Samples/acs-ui-android-reviewer-2 @Azure-Samples/acs-ui-android-reviewer-3
