<?xml version="1.0" encoding="utf-8"?>

<!--
   Copyright (c) Microsoft Corporation. All rights reserved.
   Licensed under the MIT License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azure.android.communication.ui.callingcompositedemoapp"
    >

    <uses-sdk tools:overrideLibrary="com.microsoft.office.outlook.magnifierlib" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name="com.azure.android.communication.ui.callingcompositedemoapp.SettingsActivity"
            android:exported="false"
            android:theme="@style/Launcher.Theme"
            />
        <activity
            android:name="com.azure.android.communication.ui.callingcompositedemoapp.CallLauncherActivity"
            android:exported="true"
            android:label="@string/azure_communication_ui_calling_demo_app_title"
            android:theme="@style/Launcher.Theme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="calling"
                    android:scheme="acsui"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://test"
                    android:pathPrefix="/calling"
                    android:scheme="https"
                    />
                <data
                    android:host="https://test"
                    android:pathPrefix="/calling"
                    android:scheme="http"
                    />
            </intent-filter>
        </activity>
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="acs"/>
        <receiver
            android:name=".HandleNotification"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name=".telecom_utils.CallConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
    </application>

</manifest>