root = true

[*.{kt,kts}]
ktlint_standard_max-line-length = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_no-consecutive-comments = disabled
ktlint_standard_filename = disabled
ktlint_standard_blank-line-before-declaration = disabled